:root {
  --pink: #f2a679;
  --brown: #8c613b;
  --yellow: #ffd144;
  --white: #f2f2f0;
  --black: #393d40;
  --shadow: hsla(0, 0%, 0%, 0.161);
  --grey: hsla(206, 6%, 24%, 0.816);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "DIN 1451 Std", Arial, Helvetica, sans-serif;
  color: var(--black);
}

header {
  background-color: var(--white);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 3px 6px var(--shadow);
}

header img {
  max-width: 6rem;
  margin: 0.8rem 0rem 0rem 1.5rem;
}

header img:hover {
  opacity: 0.6;
}

nav {
  display: none;
}

nav a {
  padding: 1.5rem;
}

nav a:hover {
  color: var(--pink);
}

a {
  color: var(--black);
}

a:hover {
  color: var(--pink);
}

#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox:checked ~ nav {
  display: flex;
  justify-content: space-evenly;
  min-width: 100vw;
}

#hamburger-checkbox:checked ~ label > span::after {
  content: "\f057";
}

header label {
  padding: 1.5rem;
  cursor: pointer;
  float: right;
}

label > span::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0c9";
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

h4 {
  font-size: 4rem;
}

#intro {
  max-width: 100%;
  min-height: 93vh;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta-button {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: calc(50% - 125px);
}

#cta-button:hover {
  color: var(--black);
}

.button {
  background-color: var(--yellow);
  width: 250px;
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--pink);
}

#next-adventure {
  background: linear-gradient(180deg, #3a3e41 0%, #f7f7f7 100%);
  color: var(--white);
  scroll-margin-top: 3rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;

}

#next-adventure p {
  padding: 1rem;
}

#continue-arrow {
  align-self: center;
  font-size: 3rem;
  color: var(--white);
  text-align: center;
}

.product-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 2rem;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.product-wrapper div {
  flex: 1;
  min-width: 100%;
  cursor: pointer;
}

.product-wrapper div:hover > img {
  background-color: var(--white);
}

.product-wrapper div:hover > .product-info {
  background-color: var(--pink);
  border: solid var(--pink) 2px;
}

.product-wrapper img {
  width: 100%;
  border: solid var(--black) 2px;
  border-radius: 10px;
  padding: 1rem;
}

.product-info {
  background-color: var(--grey);
  border: solid var(--black) 2px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.product-hero {
  min-width: 100vw;
  min-height: 500px;
  text-transform: uppercase;
}

h4 {
  padding: 2rem 1rem;
}

.product-hero:hover {

}



/* #the-climber {
  background-position: right;
}

#the-urban {
  color: var(--white);
}
 */
footer {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  
}

footer a {
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.2rem;
}

footer a:hover {
  color: var(--pink);
}

@media (max-width: 420px) {
  footer a{
    padding: 0.5rem;
  }
}

@media (min-width: 500px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header label {
    display: none;
  }
  nav {
    display: block;
    flex: none;
  }
  footer a {
    padding: 1rem;
  }
}

/* @media (max-width: 800px) {
  footer a {
    padding: 0.3rem;
  }
} */

@media (min-width: 700px) {
  .product-wrapper > div {
    min-width: 45%;
  }
}

@media (min-width: 800px) {
  .product-wrapper > div {
    min-width: 30%;
  }
}

@media (min-width: 900px) {
  .product-wrapper > div {
    min-width: 20%;
    padding: 0;
  }

}

/* footer   min-height: 4rem; */


#login-page {
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#login-page input 
{
width: 80%;
}

#login-page h1 {
  align-self: center;
  margin-bottom: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  
}
::-moz-placeholder { /* Firefox 19+ */
  
}
:-ms-input-placeholder { /* IE 10+ */
  
}
:-moz-placeholder { /* Firefox 18- */
  
}

.content-frame {
  width: 100%;
  min-height: 60vh;
  border: solid var(--black) 2px;
  border-radius: 10px;
  margin: 1rem;
  padding: 2rem;
  background-color: hsla(60, 8%, 95%, 0.8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.content-frame h1 {
  font-size: 1.8rem;
  padding-top: 1rem;
}