* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "DIN 1451 Std", Arial, Helvetica, sans-serif;
  color: #393d40;
}

header {
  background-color: #f2f2f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 5rem;
  margin: 1.5rem;
}

nav {
  display: none;
}

#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox:checked ~ nav {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

header img:hover {
  opacity: 0.6;
}

header label {
  padding: 1.5rem;
}

nav a {
  padding: 1.5rem;
}
nav a:hover {
  color: #f2a679;
}

a {
  color: #393d40;
}

h2 {
  font-size: 4rem;
}

section:first-of-type {
  max-width: 100%;
  min-height: 100vh;
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  background-color: #ffd144;
  width: 250px;
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 200px;
  left: calc(50% - 125px);
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #f2a679;
}

section#product-overview {
  display: flex;
  background: linear-gradient(180deg, #3a3e41 0%, #f7f7f7 100%);
  height: 100vh;
}

section.product-hero {
  max-width: 100vw;
  min-height: 100vh;
}

section.product-hero h2 {
  padding: 10rem;
}

#climber {
  background: url("../images/climber.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  background-color: #f2f2f0;
  display: flex;
  min-height: 4rem;
  justify-content: space-between;
  padding-right: 2rem;
}

footer a {
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.2rem;
}

footer a:hover {
  color: #f2a679;
}

@media (max-width: 850px) {
  section.product-hero h2 {
    padding: 1.5rem 1rem;
    font-size: 3rem;
  }
}
@media (min-width: 500px) {
  nav {
    display: block;
    flex: none;
  }

  header label {
    display: none;
  }
}
